@page "/Edit/{StreetName}/{HouseNumber:int}"
@using Blazor_Authentication.Data
@using Models
@inject IFamilyManager familyManager
@inject NavigationManager navigationManager


<h3>Edit family with: @StreetName @HouseNumber</h3>

@if (familyToEdit == null)
{
    <em>FAMILY NOT FOUNDNDZNDZ!</em>
}
else
{
    <EditForm Model="@familyToEdit" OnValidSubmit="@Save">
        <DataAnnotationsValidator/> <ValidationSummary/>
        <div class="form-group"> Street Name:
            <br/>
            <InputTextArea rows="4" @bind-Value="familyToEdit.StreetName"/>
        </div>
        <div class="form-group"> House Number:<br/> <InputNumber @bind-Value="familyToEdit.HouseNumber"/> </div>
        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Save</button>
        </p>
    </EditForm>
}

@code {
    [Parameter]
    public string StreetName { get; set; }

    [Parameter]
    public int HouseNumber { get; set; }

    private Family familyToEdit;

    protected override async Task OnInitializedAsync()
    {
        familyToEdit = familyManager.Get(StreetName, HouseNumber);
    }

    private void Save()
    {
        familyManager.Update(familyToEdit);
        navigationManager.NavigateTo("/Families");
    }
}