@page "/Families"

@inherits LayoutComponentBase
@using FamilyContentComponent

<h1>Families!</h1>

<p>This component is very cool, and has a list of families and their addresses!</p>


<FamilyContent/>


}

@code {

}